{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<script src="{% static 'js/footer.js' %}"></script>

<footer class="site-footer" id="footer">
    <div class="footer-top">
        <div class="footer-column">
            <h3>About Us</h3>
            <p>Acharya Narendra Dev College is a leading institution dedicated to academic excellence, innovation, and student development. We provide a nurturing environment that fosters creativity, critical thinking, and future-ready skills. Our mission is to empower students to excel in their careers and contribute positively to society.</p>
            
        </div>

        <div class="footer-column">
            <h3>Contact</h3>
            <p>📍 <a href="https://www.google.com/maps?q=Govindpuri+Kalkaji+New+Delhi+110019" target="_blank">Govindpuri, Kalkaji, New Delhi - 110019, India</a></p>
            <p>📞 <a href="tel:+911126293224">011-26293224</a></p>
            <p>✉️ <a href="mailto:principal@andc.du.ac.in">principal@andc.du.ac.in</a></p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 ANDC (Delhi University). All Rights Reserved.</p>
    </div>
</footer>
